*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
ul,
li,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts//Montserrat-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Tektur-Bold.woff2") format("woff2"), url("../fonts/Tektur-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.main {
  height: 489px;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-firstComment {
  background-color: #D9D9D9;
  width: 371px;
  height: 383px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  transform: rotate(-10deg);
}

.main-firstComment__text {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 270px;
}

.main-comments {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 67px;
  width: 280px;
  height: 354px;
  text-align: center;
  line-height: 100px;
}

.main-comments__text {
  text-shadow: 0px 3px 3px rgba(120, 118, 118, 0.492);
}

.main-secondComment {
  background: rgba(98, 52, 227, 0.5098039216);
  color: #FFFFFF;
  width: 371px;
  height: 383px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  transform: rotate(10deg);
}

.main-secondComment__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 270px;
  text-align: center;
  line-height: 21px;
  transform: rotate(1deg);
}

.footer {
  background: rgba(175, 226, 227, 0.9215686275);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socialmedia {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-support-vk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-VK {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main-comments__title {
  display: none;
}

@media (max-width: 830px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 600px;
  }
  .main-comments__title {
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 72px;
    font-size: 48px;
    height: 140px;
  }
  .main-comments__text {
    width: 600px;
    text-align: center;
  }
  .main-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .main-firstComment {
    width: 303px;
    height: 276px;
    margin-bottom: 70px;
  }
  .main-secondComment {
    width: 356px;
    height: 312px;
  }
  .main-firstComment__text {
    font-size: 14px;
    line-height: 18px;
    width: 270px;
  }
  .main-secondComment__text {
    font-size: 14px;
    width: 260px;
    line-height: 18px;
  }
  .main-comments {
    display: none;
    width: 500px;
  }
  .footer-socialmedia {
    width: 80%;
  }
  .footer-support-vk {
    width: 28%;
  }
}
@media (max-width: 320px) {
  .footer-socialmedia {
    width: 80%;
  }
  .footer-support-vk {
    width: 10%;
  }
}
.header {
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.button-name {
  font-family: "Tektur", cursive;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1120));
  background-color: rgba(175, 226, 227, 0.92);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-header {
  width: 82%;
}

.button-name__btn {
  -webkit-appearance: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 90px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
}

.robot-cloud {
  display: flex;
  background-repeat: no-repeat;
}

.robot-text {
  font-size: calc(13px + 5 * ((100vw - 320px) / 1120));
  font-family: "Tektur", cursive;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Tektur", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.robot-img {
  display: flex;
  align-items: flex-end;
}
.robot-img .robot-header {
  height: 95%;
}

.robot__for__mid {
  display: none;
}

@media (min-width: 1440px) {
  .header {
    height: 427px;
    background-image: url(../images/bigfon.png);
  }
  .button-name {
    width: 276px;
    height: 57px;
    font-size: 20px;
  }
  .button-name__btn {
    width: 130px;
    height: 130px;
  }
  .header-container__robot {
    width: 740px;
  }
  .robot-cloud {
    margin-top: 30px;
    background-image: url(../images/cloudbig.png);
  }
  .header-buttons {
    height: 400px;
  }
  .robot-text {
    width: 500px;
    height: 296px;
    font-size: 18px;
  }
  .robot-text .robot-text__1 {
    width: 90%;
    text-align: center;
    padding-bottom: 10px;
  }
  .robot-text .robot-text__2 {
    width: 406px;
    padding-left: 20px;
  }
  .robot-text .robot-text__2 li {
    padding-top: 10px;
  }
  .robot-img {
    height: 330px;
    padding-left: 20px;
  }
  .robot-img .robot__display-none {
    display: none;
  }
}
@media (max-width: 1439px) {
  .header {
    height: 600px;
    background-image: url(../images/midfon.png);
    background-size: cover;
  }
  .header .header-container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
  }
  .header .header-container .header-buttons {
    margin-bottom: 20px;
  }
  .header .header-container .header-buttons .button-name {
    width: 100%;
    height: 47px;
  }
  .header .header-container .header-buttons .button-name__btn {
    height: 100px;
    width: 100px;
  }
  .header .header-container .robot-cloud .robot__for__desctop {
    display: none;
  }
  .header .header-container .robot-cloud .robot__for__mid {
    display: flex;
    z-index: 1;
    height: 250px;
  }
  .header .header-container .robot-cloud .robot-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
  }
  .header .header-container .robot-cloud .robot-text .robot-text__1,
  .header .header-container .robot-cloud .robot-text .robot-text__2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header .header-container .robot-cloud .robot-text .robot-text__1 {
    padding-top: 20px;
  }
  .header .header-container .robot-cloud .robot-text .robot-text__2 {
    padding-bottom: 20px;
  }
  .header .header-container .robot-cloud .robot-text .robot__text {
    background-color: white;
    border-radius: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header .header-container .robot-cloud .robot-text .my__name {
    align-self: flex-start;
    margin-top: 30px;
    padding: 20px;
    width: 70%;
    background-image: url(../images/cloudmid.png);
    padding-bottom: 50px;
    background-size: 100% 100%;
  }
}
@media (max-width: 750px) {
  .header {
    height: 700px;
    background-image: url(../images/smallfon.png);
    background-size: cover;
  }
  .header .header-container {
    grid-template-columns: 1fr;
    position: relative;
  }
  .header .header-container .robot__for__mid {
    align-self: self-end;
  }
  .header .header-container .header-buttons .button-name {
    width: 200px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .header-container .header-buttons .button-name__btn {
    height: 70px;
    width: 70px;
  }
  .header .header-container .btn-black,
  .header .header-container .btn-red {
    position: absolute;
    bottom: 2em;
  }
  .header .header-container .btn-black {
    left: 10px;
  }
  .header .header-container .btn-red {
    right: 10px;
  }
  .header .header-container .robot-cloud .robot-text .my__name {
    background-image: url(../images/cloudsmall.png);
    width: 100%;
  }
}
@media (max-width: 500px) {
  .header {
    height: 750px;
  }
  .header .header-container .header-buttons .button-name {
    width: 150px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .header-container .header-buttons .button-name__btn {
    height: 70px;
    width: 70px;
  }
  .header .header-container .btn-black,
  .header .header-container .btn-red {
    bottom: 2em;
  }
  .header .header-container .btn-black {
    left: 10px;
  }
  .header .header-container .btn-red {
    right: 10px;
  }
}

/*# sourceMappingURL=base.css.map */
