*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
ul,
li,
a,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts//Montserrat-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Tektur";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Tektur-Bold.woff2") format("woff2"), url("../fonts/Tektur-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.header {
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.button-name {
  font-family: "Tektur", cursive;
  font-size: calc(12px + 8 * ((100vw - 320px) / 1120));
  background-color: rgba(175, 226, 227, 0.92);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-header {
  width: 82%;
}

.button-name__btn {
  -webkit-appearance: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 90px;
  border: 1px solid #8F9092;
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
}
.button-name__btn:hover:not([disabled]) {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}
.button-name__btn:active:not([disabled]) {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.button-name__btn img:hover {
  width: 80%;
}

.robot-cloud {
  display: flex;
  background-repeat: no-repeat;
  transition: background-image 3s;
}

.robot-text {
  font-size: calc(13px + 5 * ((100vw - 320px) / 1120));
  font-family: "Tektur", cursive;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Tektur", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: animation 2.5s forwards;
}

.text-animation {
  opacity: 0;
  animation: animation 2.5s forwards;
  animation-delay: 3.2s;
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.robot-img {
  display: flex;
  align-items: flex-end;
}
.robot-img .robot-header {
  height: 95%;
}

.robot-for-mid {
  display: none;
}

.print.hidden {
  display: none;
}

@media (min-width: 1441px) {
  .header {
    height: 427px;
    background-image: url(../images/bigfon.png);
  }
  .button-name {
    width: 276px;
    height: 57px;
    font-size: 20px;
  }
  .button-name__btn {
    width: 130px;
    height: 130px;
  }
  .header-container__robot {
    width: 740px;
  }
  .robot-cloud {
    margin-top: 30px;
    background-image: url(../images/cloudbig.png);
    transition: background-image 3s;
  }
  .header-buttons {
    height: 400px;
  }
  .robot-text {
    width: 500px;
    height: 296px;
    font-size: 18px;
  }
  .robot-text .robot-text__1 {
    width: 99%;
    text-align: center;
    padding-bottom: 10px;
  }
  .robot-text .robot-text__2 {
    width: 406px;
    padding-left: 20px;
  }
  .robot-text .robot-text__2 li {
    padding-top: 10px;
  }
  .robot-img {
    height: 330px;
    padding-left: 20px;
  }
}
@media (max-width: 1440px) {
  .header {
    height: 500px;
    background-image: url(../images/midfon.png);
  }
  .header .header-container {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
  }
  .header .header-container .header-buttons {
    margin-bottom: 20px;
  }
  .header .header-container .header-buttons .button-name {
    width: 89%;
    height: 70px;
  }
  .header .header-container .header-buttons .button-name__btn {
    height: 100px;
    width: 100px;
  }
  .header .header-container .header-buttons .button-name__btn img:hover {
    width: 78%;
  }
  .header .header-container .robot-cloud .robot-for-desctop {
    display: none;
  }
  .header .header-container .robot-cloud .robot-for-mid {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-left: 20px;
    padding-left: 80px;
  }
  .header .header-container .robot-cloud .robot-header1 {
    height: 200px;
    padding-left: 20px;
  }
  .header .header-container .robot-cloud .robot-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 100%;
  }
  .header .header-container .robot-cloud .robot-text .robot__text {
    background-color: white;
    border-radius: 32px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 15px;
  }
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud {
    margin-top: 30px;
    width: 90%;
    height: 130px;
    background-image: url(../images/cloudmid.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-self: flex-start;
    z-index: 4;
  }
  .header .header-container .robot-cloud .robot-text .my__name {
    padding-left: 10px;
    padding: 20px 10px 10px 10px;
    min-height: 78px;
  }
}
@media (max-width: 750px) {
  .header {
    height: 650px;
    background-image: url(../images/smallfon.png);
  }
  .header .header-container {
    grid-template-columns: 1fr;
    position: relative;
  }
  .header .header-container .robot-for-mid {
    height: 200px;
  }
  .header .header-container .header-buttons .button-name {
    width: 220px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .header-container .header-buttons .button-name__btn {
    height: 70px;
    width: 70px;
  }
  .header .header-container .btn-black,
.header .header-container .btn-red {
    position: absolute;
    bottom: 1em;
  }
  .header .header-container .btn-black {
    left: 10px;
  }
  .header .header-container .btn-red {
    right: 10px;
  }
  .header .header-container .robot-cloud {
    justify-content: center;
  }
  .header .header-container .robot-cloud .robot-text {
    width: 80%;
  }
  .header .header-container .robot-cloud .robot-text .my__name {
    padding: 10px 10px;
  }
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud {
    background-image: url(../images/cloudsmall.png);
    height: 90px;
  }
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud .robot-header1 {
    height: 230px;
  }
  .header .header-container .robot-cloud .robot-for-mid {
    height: 220px;
  }
}
@media (max-width: 500px) {
  .header {
    height: 650px;
  }
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud .robot-for-mid {
    height: 214px;
  }
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud .robot-for-mid .robot-header1 {
    height: 220px;
  }
  .header .header-container .header-buttons .button-name {
    width: 150px;
    height: 40px;
  }
}
@media (max-width: 400px) {
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud .robot-for-mid {
    height: 158px;
  }
  .header .header-container .robot-cloud .robot-text .cont-robot-cloud .robot-for-mid .robot-header1 {
    height: 166px;
  }
}
.main {
  height: 1383px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.main-sl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 89%;
}

.main-firstcomment,
.main-secondcomment {
  width: 371px;
  height: 383px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.main-firstcomment {
  background: rgba(98, 52, 227, 0.5098039216);
  transform: rotate(-10deg);
  color: #FFFFFF;
}

.main-firstcomment__text,
.main-secondcomment__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  line-height: 131%;
  text-align: center;
  width: 90%;
}

.main-comments {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: calc(24px + 43 * ((100vw - 320px) / 1120));
  width: 280px;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

.main-comments__text {
  text-shadow: 0px 3px 3px rgba(120, 118, 118, 0.492);
}

.main-secondcomment {
  background-color: #D9D9D9;
  color: #000;
  transform: rotate(10deg);
}

.main-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/frame.png) no-repeat;
}

.about__title {
  font-family: "Poppins", sans-serif;
  font-size: 51px;
  font-weight: 500;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: right;
}

.about__author {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: right;
}

.about__text {
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
}

.about__socialmedia {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
  display: flex;
  width: 489px;
  height: 95px;
}

.footer {
  background: rgba(175, 226, 227, 0.9215686275);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.footer-socialmedia {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button {
  display: none;
}

@media (min-width: 650px) {
  .main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-comments__text {
    opacity: 0;
    animation: animation 1s forwards;
  }
  .main-firstcomment {
    opacity: 0;
    animation: animation 2s 0.5s forwards;
  }
  .main-secondcomment {
    opacity: 0;
    animation: animation 2s 1s forwards;
  }
  @keyframes animation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 1440px) {
  .main-wrapper {
    width: 85%;
    display: flex;
    justify-content: center;
  }
  .main-firstcomment__text,
.main-secondcomment__text {
    font-size: 18px;
  }
  .main-comments {
    font-size: 67px;
  }
}
@media (min-width: 1155px) {
  main {
    position: relative;
  }
  .main-comments {
    position: absolute;
    top: 12%;
  }
}
@media (max-width: 1155px) {
  .main {
    flex-direction: column;
    justify-content: space-around;
    height: 650px;
  }
  .main-firstcomment__text,
.main-secondcomment__text {
    width: 81%;
  }
  .main-comments {
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-comments__text {
    width: 90%;
    text-align: center;
    height: 45px;
  }
  .footer-socialmedia {
    width: 80%;
  }
  .main-container {
    gap: 50px;
  }
  .main-firstcomment {
    width: 40%;
    height: 330px;
    margin-bottom: 70px;
  }
  .main-secondcomment {
    width: 50%;
  }
}
@media (max-width: 650px) {
  .main {
    height: 500px;
  }
  .main-sl {
    flex-direction: column;
  }
  .main-wrapper,
.main-firstcomment,
.main-secondcomment {
    width: 295px;
    height: 336px;
  }
  .main-wrapper {
    overflow: hidden;
    display: block;
  }
  .main-container {
    gap: 3px;
    margin: 0;
  }
  #slider-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  .main-firstcomment,
.main-secondcomment {
    flex-shrink: 0;
    transform: rotate(0deg);
    margin-bottom: 0;
  }
  .main-comments {
    line-height: 46px;
  }
  .main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
  }
  .main-button__left {
    cursor: pointer;
  }
  .main-button__right {
    cursor: pointer;
  }
  .main-button__right img:active {
    filter: hue-rotate(270deg);
  }
  .footer {
    height: 136px;
  }
  .footer-socialmedia {
    flex-direction: column;
    width: 320px;
    height: 70px;
  }
  .footer-support-vk {
    width: 190px;
  }
}

/*# sourceMappingURL=base.css.map */
