.main{
    height: 489px;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-firstComment{
    background-color: #D9D9D9;
    width: 371px;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    transform: rotate(-10deg);
}
.main-firstComment__text{
    font-family: $feedbackfont;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 270px;
}
.main-comments{
    font-family: $titlecloudfont;
    font-weight: 500;
    font-size: 67px;
    width: 280px;
    height: 354px;
    text-align: center;
    line-height: 100px;
}
.main-comments__text{
    text-shadow: 0px 3px 3px rgba(120, 118, 118, 0.492);
}
.main-secondComment{
    background: #6234E382;
    color: #FFFFFF;
    width: 371px;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    transform: rotate(10deg);
}
.main-secondComment__text{
    font-family: $feedbackfont;
    font-weight: 500;
    font-size: 16px;
    width: 270px;
    text-align: center;
    line-height: 21px;
    transform: rotate(1deg);
}
.footer{
    background: #AFE2E3EB;
    font-family: $mainfont;
    font-weight: 700;
    font-size: 20px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-socialmedia{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-VK{
    margin-left: 830px;
    width: 30px;
    height: 30px;
}