.main{
    height: 489px;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-firstcomment{
    background-color: #D9D9D9;
    width: 371px;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    transform: rotate(-10deg);
}
.main-firstcomment__text{
    font-family: $feedbackfont;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 270px;
}
.main-comments{
    font-family: $titlecloudfont;
    font-weight: 500;
    font-size: 67px;
    width: 280px;
    height: 354px;
    text-align: center;
    line-height: 100px;
}
.main-comments__text{
    text-shadow: 0px 3px 3px rgba(120, 118, 118, 0.492);
}
.main-secondcomment{
    background: #6234E382;
    color: #FFFFFF;
    width: 371px;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    transform: rotate(10deg);
}
.main-secondcomment__text{
    font-family: $feedbackfont;
    font-weight: 500;
    font-size: 16px;
    width: 270px;
    text-align: center;
    line-height: 21px;
    transform: rotate(1deg);
}
.footer{
    background: #AFE2E3EB;
    font-family: $mainfont;
    font-weight: 700;
    font-size: 20px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-socialmedia{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-support-vk{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-vk{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.main-comments__title{
    display: none;
}
.main-button{
    display: none;
}

@media (max-width: 990px){
    .main{
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .main-comments__title{
        font-family: $titlecloudfont;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 72px;
        font-size: 48px;
        height: 140px;
    }
    .main-comments__text{
        width: 600px;
        text-align: center;
    }

    .main-container{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        gap: 50px;
        margin-bottom: 50px;
        margin-top: 40px;
    }
    .main-firstcomment{
        width: 303px;
        height: 276px;
        margin-bottom: 70px;
    }
    .main-secondcomment{
        width: 356px;
        height: 312px;
    }
    .main-firstcomment__text{
        font-size: 14px;
        line-height: 18px;
        width: 270px;
    }
    .main-secondcomment__text{
        font-weight: 400;
        font-size: 14px;
        width: 260px;
        line-height: 18px;
    }
    .main-comments{
        display: none;
        width: 500px;
    }
    .footer-socialmedia{
        width: 80%;
    }
    .footer-support-vk{
        width: 28%;
    }
}


@media (max-width: 650px){
    .main-comments__title{
        line-height: 46px;
        font-size: 36px;
    }
    .main-firstcomment{
        transform: rotate(0deg);
        // display: none;
    }
    .main-secondcomment{
        transform: rotate(0deg);
        // display: none;
    }
    .main-button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .main-button__left{
        cursor: pointer;
    }
    .main-button__right{
        cursor: pointer;
    }
    .footer{
        height: 136px;
    }
    .footer-socialmedia{
        width: 80%;
       display: block;
       width: 320px;
       height: 136px;
       margin-top: 40px;
       margin-left: 60px;
       line-height: 34px;
    }
    .footer-support-vk{
        width: 190px;
        margin-left: 15px;
    }
}

@media (max-width: 320px){
    .main-comments__title{
        line-height: 36px;
        font-size: 24px;
    }
}