@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.main{
    height: 1383px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.main-sl{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-container{
    width: 89%;
}

.main-firstcomment,
.main-secondcomment{
    width: 371px;
    height: 383px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}
.main-firstcomment{
    background: #6234E382;
    transform: rotate(-10deg);
    color: #FFFFFF;
}
.main-firstcomment__text,
.main-secondcomment__text{
    font-family: $feedbackfont;
    font-weight: 500;
    @include adaptiv-font(18, 12);
    line-height: 131%;
    text-align: center;
    width: 90%;
}
.main-comments{
    font-family: $titlecloudfont;
    font-weight: 500;
    @include adaptiv-font(67, 24);
    width: 280px;
    text-align: center;
    line-height: 100px;
    flex-shrink: 0;
}
.main-comments__text{
    text-shadow: 0px 3px 3px rgba(120, 118, 118, 0.492);
}
.main-secondcomment{
    background-color: #D9D9D9;
    color: #000;
    transform: rotate(10deg);
}

.main-about {
    width: 1357px;
    height: 715px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/frame.png) no-repeat;
    margin-left: 90px;
}
.main-about__text_foto{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.main-about__biography{
    width: 558px;
    height: 593px;
    text-align: right;
}
.main-about__title {
font-family: $titlecloudfont;
font-size: 41px;
font-weight: 500;
line-height: 77px;
height: 163px;
text-shadow: 0px 3px 3px rgba(120, 118, 118, 0.492);
margin-top: 35px;
}
.main-about__author {
font-family: $mainfont;
font-size: 30px;
font-weight: 700;
line-height: 43px;
height: 67px;
margin-top: 35px;
}
.main-about__ten{
    font-size: 25px;
    font-weight: 700;
}
.main-about__text {
font-family: $mainfont;
font-size: 20px;
font-weight: 400;
line-height: 26px;
height: 92px;
margin-top: 35px;
}
.main-about__socialmedia {
font-family: $titlecloudfont;
font-size: 20px;
font-weight: 700;
display: flex;
justify-content: space-around;
align-items: center;
height: 95px;
margin-top: 35px;
}
.main-about__social{
    display: flex;
    align-items: center;
}
.main-about__vk{
margin-right: 8px;
}
.main-about__tch{
    margin-right: 8px;
}
// .main-about__social_dop{
//     width: 80%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }


.footer{
    background: #AFE2E3EB;
    font-family: $mainfont;
    font-weight: 700;
    font-size: 20px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.footer-socialmedia{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
// .footer-support-vk{
//     width: 182px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     color: #000;
//     &:hover{
//         .footer-vk{
//         border-radius: 25%;
//         box-shadow: 0 0 4px #668bf4, 0 0 6px #94a5f4;
//         }
//     }
// }
// .footer-vk{
//     display: flex;
//     align-items: center;
//     width: 30px;
//     height: 30px;
//     cursor: pointer;
// }
.main-button{
    display: none;
}
@media (min-width: 650px){
    .main-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    .main-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-comments__text {
        opacity: 0;
        animation: animation 1s forwards;
    }

    .main-firstcomment {
        opacity: 0;
        animation: animation 2s 0.5s forwards;
    }

    .main-secondcomment {
        opacity: 0;
        animation: animation 2s 1s forwards;
    }
    
    @keyframes animation {
        0% {opacity: 0;}
        50% {opacity: 0.8;}
        100% {opacity: 1;}
    }
}
@media (min-width: 1440px){
        .main-wrapper {
        width: 85%;
        display: flex;
        justify-content: center;
      }
    .main-firstcomment__text,
    .main-secondcomment__text{
        font-size: 18px;
    }
    .main-comments{
        font-size: 67px;
    }
}
@media (min-width: 1155px){
    main{
        position: relative;
    }
    .main-comments{
        position: absolute;
        top: 12%;
    }
}
@media (max-width: 1155px){
    .main{
        flex-direction: column;
        justify-content: space-around;
        height: 650px;
    }    
    .main-firstcomment__text,
    .main-secondcomment__text{
        width: 81%;
    }
    .main-comments{
        font-family: $titlecloudfont;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-comments__text{
        width: 90%;
        text-align: center;
        height: 45px;
    }
    .footer-socialmedia{
        width: 80%;
    }
    .main-container{
        gap: 50px;
    }
    .main-firstcomment{
        width: 40%;
        height: 330px;
        margin-bottom: 70px;
    }
    .main-secondcomment{
        width: 50%;
    }
}

@media (max-width: 650px){
    .main{
        height: 500px;
    }
    .main-sl{
        flex-direction: column;
    }
    .main-wrapper,
    .main-firstcomment,
    .main-secondcomment {
        width: 295px;
        height: 336px;
    }
    .main-wrapper {
        overflow: hidden;
        display: block;
      }
      .main-container {
        gap: 3px;
        margin: 0;
      }
      #slider-container{
        display: flex;
        transition: transform 0.5s ease;
      }
      .main-firstcomment,
      .main-secondcomment {
        flex-shrink: 0;
        transform: rotate(0deg);
        margin-bottom: 0;
      }
    .main-comments{
        line-height: 46px;
    }
    .main-button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 10px;
    }
    .main-button__left{
        cursor: pointer;
    }
    .main-button__right{
        cursor: pointer;
        img {&:active{
            filter: hue-rotate(270deg);
        }}
    }
    .footer{
        height: 136px;
    }
    .footer-socialmedia{
        flex-direction: column;
        width: 320px;
        height: 70px;
    }
    .footer-support-vk{
        width: 190px;
    }
}
