*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
ul, 
li,
p{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}

$maxWidth: 1440;
$maincolor: rgba(175, 226, 227, 0.92);
$secondcolor: rgb(217, 217, 217);
$mainfont: 'Montserrat', sans-serif;
$feedbackfont: 'Roboto', sans-serif;
$cloudfont:'Tektur', cursive;
$titlecloudfont:'Poppins', sans-serif;

@font-face {
    font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('../fonts/Montserrat-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts//Montserrat-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('../fonts/Poppins-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/Poppins-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		 url('../fonts/Roboto-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/Roboto-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Tektur';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		 url('../fonts/Tektur-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/Tektur-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$button-gradient: #D8D9DB 0%, #fff 80%, #FDFDFD 100%;
$button-border: #8F9092;

$highlight-bottom: 0 4px 3px 1px #FCFCFC;
$shadow-bottom: 0 6px 8px #D6D7D9;
$shadow-top: 0 -4px 4px #CECFD1;
$highlight-top: 0 -6px 4px #FEFEFE;
$shadow-inset: inset 0 0 3px 0 #CECFD1;


$button-shadow-base: $highlight-bottom, $shadow-bottom, $shadow-top, $highlight-top;
$button-shadow-default: $button-shadow-base, $shadow-inset;
